@import './css/scroll.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Stolzl";
  src: url("/fonts/Stolzl/stolzl_book.otf");
}

:root {
  --primary: #1b1b1b;
  --secondary: #292929;
}

body {
  @apply bg-dark text-white 
}

header {
  @apply sticky top-0 z-30 w-full px-2 py-4 bg-dark sm:px-4
}
.burger{
  @apply absolute top-4 right-40 h-4
}
.burger img{
  @apply hover:bg-gray-text hover:p-1 hover:rounded-3xl
}