@import './css/scroll.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Stolzl";
  src: url("/fonts/Stolzl/stolzl_book.otf");
}

:root {
  --primary: #1b1b1b;
  --secondary: #292929;
}

body {
  @apply bg-dark text-white 
}
.hidden-logo{
  @apply absolute md:hidden h-7 px-12 my-6
}
header {
  @apply sticky top-0 z-30 w-full px-12 md:px-32 py-4 md:bg-dark flex justify-end md:justify-between
}
header a{
  @apply hidden md:block
}
header img{
  @apply h-5 md:h-8 my-3 mx-2
}
h1{
  @apply text-big md:text-xxl 
}
h2{
  @apply text-base md:text-xl
}
h3{
  @apply text-gray-text text-md
}
p{
  @apply text-xs text-gray-text
}
ul{
 @apply list-disc text-gray-text text-xs list-inside
}

.burger{
  @apply md:px-2 bg-dark-gray md:bg-transparent rounded-full hover:bg-gray-text hover:bg-opacity-10 
}
.burger img{
  @apply h-3 md:h-4
}

menu{
  @apply fixed top-0 z-50 right-[-100vw] w-screen md:w-[30vw] h-screen bg-blue p-5
  flex flex-col space-y-5 text-blue-text text-md duration-300
}
menu a{
  @apply hover:text-white
}
.contacts{
  @apply flex flex-col absolute bottom-2 underline text-md-plus text-white 
}
menu #close-menu{
  @apply text-right text-4xl
}
.side-menu-open{
  @apply right-0
}
.side-menu-close{
  @apply right-[-100vw] md:right-[-30vw]
}

.block1{
  height: 100vh;
  background-image: url(/img/main-big.svg);
  background-size: 180vw;
  background-position: bottom -30vw center;
  @apply w-full bg-no-repeat flex flex-col md:justify-around px-12 md:px-32 
  md:bg-[length:80%] md:bg-[center_right_-20vw]
}
.block1 h2{
  @apply max-w-3xl py-4
}
.block1 p{
  @apply md:text-sm py-4
}
.block1 button{
  @apply bg-blue rounded-full p-2 md:p-4 mt-4 md:mt-10 text-xxs md:text-sm
}

.block2{
  @apply px-12 md:px-32 h-full
}
.block2 div{
  @apply md:flex justify-between 
} 
.block2 h1{
  @apply w-full my-[10%] 
}
.block2 h4{
  @apply text-base text-white py-4 mt-2
} 
.block2 p{
  @apply py-4
}
.block2 figure{
  @apply bg-dark-gray rounded-xl p-7 2xl:max-w-[30vw] 
  md:mx-4 first:mx-0 last:mx-0
  my-7 md:my-16
}

.block3{
  @apply px-12 md:px-32
}
.block3 div{
  @apply grid grid-rows-2 grid-cols-1 md:grid-cols-2 md:grid-rows-1 md:gap-4
}
.block3 h4{
  @apply text-sm md:text-base mt-[90px] md:mt-44
}
.block3 p{
  @apply text-blue-text py-4
}
.block3 figure{
  background-position: top right;
  @apply bg-blue rounded-xl p-7 my-5 md:my-16 bg-no-repeat
  first:bg-[url('/img/corner-1.png')] bg-[url('/img/corner-2.png')]
}

.block4{
  @apply px-12 md:px-32 relative 
}
.block4 nav{
  @apply absolute right-12 md:right-32 top-0 flex justify-between cursor-pointer
}
.block4 nav img{
  @apply w-14 first:mx-2 hover:bg-dark-gray p-2
}
.block4 .wrapper {
  @apply relative overflow-hidden rounded-lg h-[800px] md:h-[560px] 
}
.block4 section{
  @apply md:flex justify-between w-full my-5 md:my-16 duration-700 ease-in-out 
}
.block4 ul{
  @apply my-4 mr-4
}
.block4 li{
  @apply my-3
}
.block4 h4{
  @apply my-5 text-base
}
.block4 img{
  @apply object-cover rounded-3xl md:w-[50%] md:h-auto 
}
.block4 .slider-control{
  @apply w-2 h-2 rounded-full 
}

.block5{
  @apply px-12 md:px-32 relative py-7 mb-20 
}
.block5 div{
  @apply grid grid-rows-2 grid-cols-3  gap-y-40  md:flex md:justify-around h-9 my-36 
}
.block5 img{
  @apply h-20 p-4 hover:bg-dark-gray rounded-xl
  /* opacity-50 hover:opacity-100  */
   /* grayscale hover:grayscale-0 */
} 
.popower-wrapper{
  @apply absolute z-10 block w-64 text-sm font-light text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 
}
.popower-head{
  @apply px-4
}

.block6{
  height: 100vh;
  @apply relative px-12 md:px-32
}
.block6 input{
  outline: 0;
  border-width: 0 0 2px;
  @apply my-10 z-30 bg-transparent border-white text-white placeholder:text-white text-base block focus:border-white 
}
.block6 form{
  @apply absolute top-[20%] right-0 px-56 z-30
}
.block6 .form-wrapper button{
  @apply text-xs md:text-sm text-blue bg-white py-4 px-6 rounded-full
}
.block6 .form-wrapper p{
  @apply my-4 text-blue-text
}
.block6 img {
  @apply hidden md:block md:h-[120%] object-scale-down object-center absolute -left-1/4 -top-[10%]
}
.block6 figure{
  @apply bg-blue h-screen inset-x-0 bottom-0 absolute -z-10
}

