@import './css/scroll.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Stolzl";
  src: url("/fonts/Stolzl/stolzl_book.otf");
}

:root {
  --primary: #1b1b1b;
  --secondary: #292929;
}

body {
  @apply bg-dark text-white 
}

header {
  @apply sticky top-0 z-30 w-full px-12 md:px-32 py-6 md:bg-dark flex justify-between
}
header img{
  @apply h-5 md:h-8 
}
h2{
  @apply text-base md:text-xl
}
h3{
  @apply text-gray-text text-md
}
.burger{
  @apply p-1 hover:bg-gray-text hover:bg-opacity-10 hover:rounded-full
}
.burger img{
  @apply h-3 md:h-4
}

menu{
  @apply fixed top-0 z-50 right-[-100vw] w-screen md:w-[30vw] h-screen bg-blue p-5
  flex flex-col space-y-5 text-blue-text text-md duration-300
}
menu a{
  @apply hover:text-white
}
.contacts{
  @apply flex flex-col absolute bottom-2 underline text-md-plus text-white 
}
menu #close-menu{
  @apply text-right text-4xl
}
.side-menu-open{
  @apply right-0
}
.side-menu-close{
  @apply right-[-100vw] md:right-[-30vw]
}

.section1{
  height: 90vh;
  background-image: url(/img/main-big.svg);
  background-size: 180vw;
  background-position: bottom -30vw center;
  @apply w-full bg-no-repeat flex flex-col md:justify-around px-12 md:px-28 
  md:bg-[length:80%] md:bg-[center_right_-20vw]
}
.section1 h2{
  @apply max-w-3xl py-4
}
.section1 p{
  @apply text-gray-text text-xs md:text-sm py-4
}
.section1 button{
  @apply bg-blue rounded-full p-2 md:p-4 mt-4 md:mt-10 text-xxs md:text-sm
}

.section2{
  height: 100vh;
  @apply px-12 md:px-28
}